<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Load an example or a file</h3>
</div>
<div class="modal-body" id="modal-body">
    <uib-tabset active="activeTab">
        <uib-tab index="0" heading="Examples">
            <ul>
                <li ng-repeat="example in $ctrl.examples | orderBy:example">
                    <a href="{{path+'/#examples/' + example}}" ng-click="$ctrl.getExampleModal(example)">{{example}}</a>
                </li>
            </ul>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Close</button>
</div>
